@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('_home.css');
@import url('_card-quiz.css');
@import url('_timer.css');
@import url('_response.css');

body{
    height: 100vh;
    background-color: #38369A;
    box-sizing: border-box;
    padding-top: 2rem;
}

main {
    background-color: #F8F7F4;
}
